<!DOCTYPE html>
<html>
	<head lang="pt-br">
		<meta charset="UTF-8">
		<title>Gerenciamento de Produtos</title>		
		<!-- Style sheets -->
		<link type="text/css" rel="stylesheet" href="../resources/css/bootstrap.css"/>				
		<link type="text/css" rel="stylesheet" href="css/app.css"/>
		<!-- Bibliotecas -->
		<script type="text/javascript" src="../resources/js/jquery-2.2.0.min.js"></script>
		<script type="text/javascript" src="../resources/js/bootstrap.js"></script>
		<script type="text/javascript" src="../resources/js/angular.js"></script>		
		<!-- Aplicacao -->
		<script type="text/javascript" src="app/app.js"></script>
		<!-- Controllers Produtos-->
		<script type="text/javascript" src="app/produtos/produtoListaCtrl.js"></script>
	</head>
	<body ng-app="gestaoProdutos">
		<div class="container">			
			<div class="panel panel-primary" style="margin-top: 50px">
				<div class="panel-heading" style="font-size: large">Lista de Produtos</div>			
				<table class="table" ng-controller="ProdutoListaCtrl">
					<thead>
						<tr>
							<th><button class="btn btn-primary" type="button" ng-click="toggleImagem()">{{mostrarImagem ? "Esconder" : "Mostrar"}} Imagem</button></th>
							<th>Produto</th>
							<th>Código</th>
							<th>Disponível</th>
							<th>Preço</th>
						</tr>		
					</thead>
					<tbody>
						<tr ng-repeat="produto in produtos">
							<td><img ng-if="mostrarImagem" ng-src="{{produto.imagemUrl}}" title="{{produto.nome}}" height="120"></td>
							<td>{{ produto.nome }}</td>
							<td>{{ produto.codigo }}</td>
							<td>{{ produto.dataLancamento | date}}</td>
							<td>{{ produto.preco | currency:"R$ "}}</td>
						</tr>
					</tbody>
				</table>
			</div>		
		</div>
	</body>
</html>